{% extends 'AcmeDemoBundle:Base:layout.html.twig' %}

{% block title "Symfony - デモ" %}

{% block content_header '' %}

{% block content %}
    <h1 class="title">デモ アプリ一覧</h1>
    <ul id="demo-list">
        <li><a href="{{ path('_demo_hello', {'name': 'World'}) }}">Hello World デモ</a></li>
        <li><a href="{{ path('_demo_secured_hello', {'name': 'World'}) }}">セキュアなページ</a> <a href="{{ path('_demo_login') }}">ログインページ</a></li>
        {# <li><a href="{{ path('_demo_contact') }}">Send a Message</a></li> #}
    </ul>
{% endblock %}
